*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #ffffff;
	
}
input[type="search"]{
	padding: 10px;
	border: none;
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
}
.nav-item{
	margin: 0 20px;
	padding: 8px;
	color: #ffffff;
	transition: all 0.5s;
	
}
.nav-item:hover{

	color: yellow;
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 3px;
	transform: scale(1.12);
}
button {   
	/* width: 200px;
	height: 50px; */
	transition: all 0.5s;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	padding: 8px;
}
.btn-max{
	width: 100%;
	font-size: 20px;
	margin: 7px 0px;
	text-align: left;
}
.btn-default{
	color: rgb(255, 255, 255);
	background-color: rgb(149, 123, 158);
}

.btn-default:hover { 
	 background-color: blueviolet;
	 box-shadow: inset 0 0 45px black;
	 color: white;
	 cursor: pointer;
	 /* text-decoration: underline;
	 text-underline-offset: 3px; */
	 transform: scale(1.12  );
		
}

.btn-danger{
	color: aliceblue;
	background-color: rgb(255, 0, 0);
}

.btn-danger:hover { 
	background-color: rgb(139, 5, 5);
	box-shadow: inset 0 0 45px black;
	color: white;
	cursor: pointer;
}

.btn-blue{
	background-color: blue;
	color: aliceblue;
}
.btn-blue:hover { 
	background-color: rgb(0, 0, 139);
	box-shadow: inset 0 0 45px black;
	color: white;
	cursor: pointer;
}
.btn-yellow{
	background-color: yellow;
	color: black;

}
.btn-yellow:hover{
	background-color: rgb(255, 215, 0);
	box-shadow: inset 0 0 45px black;
	color: white;
	cursor: pointer;
	transform: scale(1.1);
}
.btn-green{
	background-color: green;
	color: aliceblue;
}
.btn-green:hover{
	background-color: rgb(0, 128, 0);
	box-shadow: inset 0 0 45px black;
	color: white;
	cursor: pointer;
}

.my-button{
	display: flex;
	justify-content: space-around;
	gap:  5px;
	flex-wrap: wrap;
}